<div class="login-container">
  <div class="login-box" *ngIf="!showSignUp">

    <div class="message-icon">
      <i class="bi bi-chat"></i>
    </div>
    <div class="welcome-box">
      <div class="welcome-text">
        Welcome Back
      </div>
      <div class="welcome-subtext">
        Glad to see you again!
      </div>
    </div>
    <div class="credential-box">
      <form [formGroup]='loginForm'>
        <div class="username-box">
          <div class="username-text">
            Username
          </div>
          <div class="enter-username">
            <input type="text" formControlName="username" placeholder="Enter your username">
          </div>
        </div>
        <div class="password-box">
          <div class="password-text">
            Password
          </div>
          <div class="enter-password">
            <input type="password" formControlName="password" placeholder="Enter your password">
          </div>
        </div>
      </form>

      <div class="login-button" (click)="login()">
        Login
      </div>
      <div class="ask-type">
        <div class="ask-text">
          Don't have an account?
        </div>
        <div class="ask-link">
          <a (click)="toggleForm()">Signup</a>
        </div>
      </div>
    </div>
  </div>
  <div class="login-box" *ngIf="showSignUp">
      <div class="message-icon">
        <i class="bi bi-chat"></i>
      </div>
      <div class="welcome-box">
        <div class="welcome-text">
          Welcome
        </div>
        <div class="welcome-subtext">
          Let's start our journey
        </div>
      </div>
      <div class="credential-box">
        <form [formGroup]='loginForm'>
        <div class="username-box">
          <div class="username-text">
            Username
          </div>
          <div class="enter-username">
            <input type="text" formControlName="username" placeholder="Create your username">
          </div>
        </div>
        <div class="password-box">
          <div class="password-text">
            Password
          </div>
          <div class="enter-password">
            <input type="password" formControlName="password" placeholder="Create your password">
          </div>
        </div>
        </form>
        <div class="login-button" (click)="signUp()">
          Signup
        </div>
        <div class="ask-type">
          <div class="ask-text">
            Already have an account?
          </div>
          <div class="ask-link">
            <a (click)="toggleForm()">Login</a>
          </div>
        </div>
      </div>
  </div>
</div>