<div class="chat-container">
  <section class="discussions" [ngClass]="{'expanded': (activeTab == 'individual' && selectedUser) || (activeTab == 'group'&& selectedGroup)}">
      <div class="discussion search">
        <!-- <div class="searchbar"> -->
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" placeholder="Search...">
        <!-- </div> -->
      </div>
      <div class="chat-menu d-flex flex-row justify-content-between">
        <a class="menu-btn flex-fill {{ activeTab === 'individual' ? 'active' : '' }}" (click)="changechatmenu('individual')"><i class="fa fa-hand-o-up"></i>Individual</a>
        <a class="menu-btn flex-fill {{ activeTab === 'group' ? 'active' : '' }}" (click)="changechatmenu('group')"><i class="fa fa-hand-o-up"></i>Groups</a>
      </div>


      <div *ngIf="activeTab === 'individual'">
        <div class="discussion message-active" *ngFor="let user of users" (click)="selectUser(user)">
          <div class="photo" style="background-image: url(https://i.pinimg.com/originals/a9/26/52/a926525d966c9479c18d3b4f8e64b434.jpg);">
            <div class="online"></div>
          </div>
          <div class="desc-contact">
            <a class="name">{{user?.userName ? user?.userName : '&mdash;'}}</a>
            <!-- <a class="name">{{user}}</a> -->
            <p class="message">Let's meet for a coffee or something today ?</p>
          </div>
          <div class="timer">3 min</div>
        </div>
      </div>

      <div *ngIf="activeTab === 'group'">
        <!-- <button (click)="openModal()">Create group</button> -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" (click)="resetGroupDetails()">Create Group</button>

        <div class="discussion message-active" *ngFor="let group of groups" (click)="selectGroup(group)">
          <div class="photo" style="background-image: url(https://i.pinimg.com/originals/a9/26/52/a926525d966c9479c18d3b4f8e64b434.jpg);">
            <div class="online"></div>
          </div>
          <div class="desc-contact">
            <a class="name">{{group?.groupTitle ? group?.groupTitle : '&mdash;'}}</a>
            <p class="message">Let's meet for a coffee or something today ?</p>
          </div>
          <div class="timer">3 min</div>
        </div>
      </div>
  </section>

<div *ngIf="(activeTab==='individual' && selectedUser) || (activeTab === 'group' && selectedGroup)" class="chat"> 
    <div *ngIf="activeTab === 'individual'">
      <div class="chat-header">
        <span class="user-name">{{ selectedUser.userName }}</span>
      </div>
      <div class="messages-wrapper" #scroll>
        <div class="messages-chat" *ngFor="let message of messages">
          <div class="message" *ngIf="message.sender != currentUser">
            <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
              <div class="online"></div>
            </div>
            <p class="text">
              {{message.message}}
            </p>
          </div>
          <div class="message text-only" *ngIf="message.sender == currentUser">
            <div class="response">
              <p class="text"> {{message.message}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'group'">
      <div class="chat-header">
        <span class="user-name">{{selectedGroup}}</span>
      </div>
      <div class="messages-wrapper" #scroll>
        <div class="messages-chat" *ngFor="let message of groupMessages">
          <div class="message" *ngIf="message.sender != currentUser">
            <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
              <div class="online"></div>
            </div>
            <p class="text">
              {{message.message}}
            </p>
          </div>
          <div class="message text-only" *ngIf="message.sender == currentUser">
            <div class="response">
              <p class="text"> {{message.message}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="footer-chat" *ngIf="activeTab === 'group'">
        <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
        <input type="text" class="write-message" [(ngModel)]="groupMessage" placeholder="Type your message here">
        <i class="icon send fa fa-paper-plane-o clickable" (click)="sendMessageFromGroup()" aria-hidden="true"></i>
      </div>
      <div class="footer-chat" *ngIf="activeTab === 'individual'">
        <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
        <input type="text" class="write-message" [(ngModel)]="newMessage" placeholder="Type your message here">
        <i class="icon send fa fa-paper-plane-o clickable" (click)="sendMessage()" aria-hidden="true"></i>
      </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Group Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Enter Group Name" [(ngModel)]="groupTitle">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3 text-center">
            <div class="profile-photo-wrapper">
              <img src="https://via.placeholder.com/300x200" alt="Profile Photo" class="profile-photo" (click)="togglePhotoOptions()">
              <div *ngIf="showPhotoOptions" class="photo-options">
                <button class="btn btn-sm btn-outline-primary" (click)="editPhoto($event)">Edit</button>
                <button class="btn btn-sm btn-outline-danger" (click)="deletePhoto($event)">Delete</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h6 class="mb-2">Members</h6>
            <ul class="list-group list-group-flush">
              <!-- <input type="text" [(ngModel)]="searchTerm" (input)="filterMembers()" placeholder="Search members..." class="form-control mb-3"> -->
              <div class="input-group">
                <!-- <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (keyup)="filterMembers()"> -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (keyup)="filterMembers()">
                  <span class="input-group-text clear-icon" *ngIf="searchTerm.length > 0" (click)="clearSearch()">
                    <i class="bi bi-x-circle"></i>
                  </span>
                </div>
              </div>
              <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let member of filteredMembers; let i = index">
                <label>{{ member.userName }}</label>
                <input class="form-check-input ms-auto" type="checkbox" [checked]="member.checked" (change)="toggleSelection(member.userName,i)">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createGroup()" data-bs-dismiss="modal">Create Group</button>
      </div>
    </div>
  </div>
</div>



