// Import Bootstrap's SCSS
@import "../node_modules/bootstrap/scss/bootstrap";
// CSS for logout button starts
.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;  /* Optional: Set full viewport height */
  // background-color: white;
}

body {
  height: 100vh;
  margin: 0;
  padding:0;
  position: relative;
  vertical-align: baseline;
}

.layout app-logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

// CSS for logout button ends

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Offset to center */
}

.content {
  flex: 1;  /* Allow content to fill remaining space */
  padding: 20px;
}

// ____________________________

.login-card,
.signup-card {
  width: 350px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

lets-chat {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 5px;
  color: #888;
  transition: 0.3s;
}

input:focus + label,
input:valid + label {
  top: 0;
  font-size: 12px;
  color: #333;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


// chat container css starts here.
.chat-container {
  display: flex;
  height: 100vh;
  background-color: #F5F5F5;
}

.discussions {
  width: 100%;
  overflow-y: auto;
  transition: width 0.3s;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.discussions.expanded {
  width: 30%;
}

.discussions.expanded + .chat {
  width: 70%;
}

.discussions .discussion {
  width: 100%;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  background-color: #FAFAFA;
  border-bottom: solid 1px #E0E0E0;
  display:flex;
  align-items: center;
  cursor: pointer;
}

// .discussions .search {
//   display:flex;
//   align-items: center;
//   justify-content: center;
//   color: #E0E0E0;
// }
.discussions .search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Make background transparent */
  color: transparent; /* Make text transparent */
}


.discussions .search .searchbar {
  height: 40px;
  background-color: #FFF;
  width: 70%;
  padding: 0 20px;
  // border-radius: 50px;
  border: 1px solid #EEEEEE;
  display:flex;
  align-items: center;
  // cursor: pointer;
}

.discussions .search .searchbar input {
  margin-left: 15px;
  height:38px;
  width:100%;
  // border:none;
  font-family: 'Montserrat', sans-serif;;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
    color: #E0E0E0;
}

.discussions .search .searchbar input *:-moz-placeholder {
    color: #E0E0E0;
}

.discussions .search .searchbar input *::-moz-placeholder {
    color: #E0E0E0;
}

.discussions .search .searchbar input *:-ms-input-placeholder {
    color: #E0E0E0;
}
.discussions .message-active {
  width: 98.5%;
  height: 90px;
  background-color: #FFF;
  border-bottom: solid 1px #E0E0E0;
}


.discussions .discussion .photo {
    margin-left:20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8BC34A;
  border-radius: 13px;
  border: 3px solid #FAFAFA;
}

.desc-contact {
  height: 43px;
  width:50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 11pt;
  color:#515151;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 9pt;
  color:#515151;
}

.timer {
  margin-left: 15%;
  font-family:'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #BBB;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 15px;
}

.chat {
  display: flex;
  flex-direction: column;  /* Stack chat history and input */
  // padding: 10px;
  background-color: #fff;
  overflow: hidden;
  transition: width 0.3s;
}

.messages-wrapper {
  // flex: 1;
  height:50%;
  overflow-y: scroll;
  padding: 25px 35px 100px;
  // margin-bottom: 100px; /* Space for footer */
}


// .header-chat {
//   height: 40px;
//   background-color: #FFF;
//   // width: 70%;
//   border: 1px solid #EEEEEE;
//   padding: 0 20px;
//   // box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
//   display: flex;
//   align-items: center;
//   // max-height: fit-content;
// }
.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #EEEEEE;
  border-bottom: 1px solid #ddd;
}
.profile-photo {
  width: 40px;
  height: 5px;
  border-radius: 30%;
  margin-right: 30px;
}

.user-name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.message-input {
  display: flex;
  align-items: center;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.chat .header-chat .icon {
  margin-left: 30px;
  color:#515151;
  font-size: 14pt;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  padding: 25px 35px;
  // overflow-y: scroll;
}
.message-container {
  /* ... */
  padding: 25px 35px;
  overflow-y: scroll; /* Enable vertical scroll */
}

.chat .messages-chat .message {
  display:flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.text-only {
  margin-left: 45px;
}

.time {
  font-size: 10px;
  color:lightgrey;
  margin-bottom:10px;
  margin-left: 85px;
}

.response-time {
  float: right;
  margin-right: 40px !important;
}

.response {
  float: right;
  margin-right: 0px !important;
  margin-left:auto; /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}

.footer-chat {
  width: calc(65% - 30px);
  height: 80px;
  display:flex;
  align-items: center;
  position:absolute;
  z-index: 1;
  bottom: 0;
  // background-color: transparent;
  border-top: 2px solid #2c2828;
  // bottom: 0;
}

.chat .footer-chat .icon {
  margin-left: 30px;
  color:#C0C0C0;
  font-size: 14pt;
}

.chat .footer-chat .send {
  color:#fff;
  background-color: #4f6ebd;
  position: absolute;
  right: 50px;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
}

.chat .footer-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.chat .footer-chat .right {
  position: absolute;
  right: 40px;
}

.write-message {
  border:none !important;
  width:60%;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
}

.footer-chat *::-webkit-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
  margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}

.clickable {
  cursor: pointer;
}

.text-only {
  margin-left: 45px;
}

.error-message {
  color: red;
  font-weight: bold;
  padding: 5px;
  // border: 1px solid red;
  border-radius: 4px;
  margin-bottom: 10px;
  display: block;
}

.chat-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menu-btn:hover {
  cursor: pointer;
}
  

  .chat-menu .menu-btn.active {
    border-bottom:  solid #007bff; /* Underline color */
    // padding-top: 1rem ;
  }


  .profile-photo-wrapper {
    position: relative;
    display: inline-block;
  }

  .profile-photo {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 8px;
  }

  .photo-options {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  .photo-options button {
    margin-bottom: 5px;
  }

  .clear-icon {
    cursor: pointer;
    opacity: 0.5; /* Adjust opacity as needed */
    transition: opacity 0.3s ease;
  }

  .clear-icon:hover {
    opacity: 1;
  }